<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <Authorizing>
                    <span>Вход в систему...</span>
                </Authorizing>
                <NotAuthorized>
                    @if (context.User.Identity?.IsAuthenticated != true)
                    {
                        <RedirectToLogin/>
                    }
                    else
                    {
                        <p role="alert">У вас нет прав доступа для этого ресурса</p>
                    }
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Страница не найдена</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">К сожалению, по этому адресу ничего не найдено.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
<NotificationProvider/>
