@page "/CreateNewDoc"
@using Microsoft.Extensions.Logging;
@using System.ComponentModel.DataAnnotations;
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using WorkflowAutomation.Application.Documents.Queries.GetSubdivisionList

@using WorkflowAutomation.Application.Documents.Commands.CreateNewDocument
@using WorkflowAutomation.Application.DocType.Queries.GetDocumentTypeListQuery
@using WorkflowAutomation.Application.Users.Queries.GetAllowedUsers

@attribute [Authorize]
@inject HttpClient Http
@inject ILogger<Test> Logger


<EditForm Model="@createNewDocumentDto" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <h3>Создать новый документ</h3>
   
    <div class="form-group row">
        <label for="firstName" class="col-sm-2 col-form-label">
            Тема
        </label>
    <div class="col-sm-10">
    <InputText id="Title" class="form-control" Value="@createNewDocumentDto.Title" ValueChanged="NameChanged" ValueExpression="() => createNewDocumentDto.Title" />
        </div>
        </div>
    <h6>Выберите получателя</h6>
    <InputSelect id="selectAllowedUsers" class="form-control" @bind-Value="@createNewDocumentDto.ReceiverUserId">

        @foreach (var doc in allowedUsers.AllowedUsers)
        {
            <option value="@doc.Id"> @doc.Name @doc.Surname @doc.Patronymic @doc.SubdivisionName @doc.PositonName </option>
        }
    </InputSelect>

    <h6>Выберите тип документа</h6>
    <InputSelect id="selectedDocTypes" class="form-control" @bind-Value="@createNewDocumentDto.DocumentTypeId">

        @foreach (var doc in docTypes.DocumentTypes)
        {
            <option value="@doc.Id"> @doc.Name</option>
        }
    </InputSelect>

   <button type="submit" class="btn btn-primary"> Создать документ </button>

    <br />
</EditForm>
<br />

@code {
    // DocTypeDto docTypeDto = new DocTypeDto();
    CreateNewDocumentDto createNewDocumentDto = new CreateNewDocumentDto();

    private DocumentTypeListVm docTypes = new();
    private AllowedUserListVm allowedUsers = new();

    protected override async Task OnInitializedAsync()
    {
        docTypes.DocumentTypes = new List<DocumentTypeListLookupDto>();
        allowedUsers.AllowedUsers = new List<GetAllowedUserListDto>();

        docTypes = await Http.GetFromJsonAsync<DocumentTypeListVm>("DocumentType");
        allowedUsers = await Http.GetFromJsonAsync<AllowedUserListVm>("GetAllowedUsers");

    }
    private async Task HandleValidSubmit()
    {
        var httpResponse = await Http.PostAsJsonAsync<CreateNewDocumentDto>("/Document", createNewDocumentDto);
        Logger.LogInformation("HandleValidSubmit called");
    }

    private void NameChanged(string value)
    {
        createNewDocumentDto.Title = FirstUpper(value);
    }

    private string FirstUpper(string str)
    {
        str = str.ToLower();
        return str.Substring(0, 1).ToUpper() + (str.Length > 1 ? str.Substring(1) : "");
    }
}


