@page "/"

@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@using Microsoft.AspNetCore.Authorization
@using System.Security.Claims

@using WorkflowAutomation.Application.Users.Queries.GetUserInfo

@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@inject SignOutSessionStateManager SignOutManager
@inject HttpClient Http

    <PageTitle>Документооборот ОГУ</PageTitle>

<h1>Здравствуйте, @getUserInfoDto.Name  @getUserInfoDto.Surname   @getUserInfoDto.Patronymic</h1>
<h2>@getUserInfoDto.SubdivisionName - @getUserInfoDto.PositonName</h2>

@code{

    //private string Username;
    private GetUserInfoDto getUserInfoDto = new();
    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        if (!user.Identity.IsAuthenticated)
        {
            NavigationManager.NavigateTo("authentication/login");
        }
        else
        {
            getUserInfoDto = await Http.GetFromJsonAsync<GetUserInfoDto>("UserInfo");
           // Username = user.Identity.Name;
        }
    }
}
