@page "/"

@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@using Microsoft.AspNetCore.Authorization
@using System.Security.Claims

@using WorkflowAutomation.Application.Users.Queries.GetUserInfo
@using WorkflowAutomation.Application.Documents.Queries.GetRecentActivityDocuments

@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@inject SignOutSessionStateManager SignOutManager
@inject HttpClient Http

    <PageTitle>Документооборот ОГУ</PageTitle>

<h1>Здравствуйте, @getUserInfoDto.Name  @getUserInfoDto.Surname   @getUserInfoDto.Patronymic</h1>
<h2>@getUserInfoDto.SubdivisionName - @getUserInfoDto.PositonName</h2>

@*<table class="table">
    <thead>
        <tr>
            <th>Тема</th>
            <th>Дата</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var doc in recentActivityDocumentListVm.RecentDocuments)
        {
            <tr>
                <td>@doc.Titile</td>
                <td>@doc.LastActivityDate</td>
            </tr>
        }
    </tbody>
</table>*@


@code{
    //private string Username;
    private RecentActivityDocumentListVm recentActivityDocumentListVm = new();
    private GetUserInfoDto getUserInfoDto = new();
    protected override async Task OnInitializedAsync()
    {
        recentActivityDocumentListVm.RecentDocuments = new List<RecentActivityDocumentLookupDto>();

        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

       
        if (!user.Identity.IsAuthenticated)
        {
            //NavigationManager.NavigateTo("authentication/login");

            NavigationManager.NavigateTo("/login");
        }
        else
        {
          //  recentActivityDocumentListVm = await Http.GetFromJsonAsync<RecentActivityDocumentListVm>("ActivityDocument");

            getUserInfoDto = await Http.GetFromJsonAsync<GetUserInfoDto>("UserInfo");
           // Username = user.Identity.Name;
        }
    }
}
