@page "/ViewDocumentList"
@using Microsoft.Extensions.Logging;
@using System.ComponentModel.DataAnnotations;
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using WorkflowAutomation.Application.Documents.Queries.GetDocumentList

@attribute [Authorize]
@inject NavigationManager NavigationManager
@inject HttpClient httpClient

<h3>Просмотр документов</h3>

<EditForm Model="@documentListVm">
    <DataAnnotationsValidator />

    <table class="table">
        <thead>
            <tr>
                <th>Тема</th>
                <th>Тип документа</th>
                <th>Отправитель</th>
                <th>Получатель</th>
                <th>Дата создания</th>
                <th>Дата удаления (если есть)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var doc in documentListVm.Documents)
            {
                    <tr>
                        <td>@doc.Title</td>
                        <td>@doc.DocumentType</td>
                        <td>@doc.SenderInfo</td>
                        <td>@doc.RecieverInfo</td>
                        <td>@doc.CreateDate</td>
                    <td>@doc.RemoveDate</td>
                    </tr>
            }
        </tbody>
    </table>

</EditForm>
@code {
    DocumentListVm documentListVm = new();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            documentListVm.Documents = new List<GetDocumentListLookupDto>();
            documentListVm = await httpClient.GetFromJsonAsync<DocumentListVm>("Document");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }
}
